
ion-content{
    --background:  url(/../../assets/gradient.png) 0 0/100% 100% no-repeat;
}
ion-header{
    ion-toolbar{
      --min-height:100px;
    
--background: transparent;
--ion-color-base: transparent !important;
      ion-title{
        align-items: flex-end;
        img{
            opacity: 0.5;
          width: 45px;
          vertical-align: middle;
          margin-right: 10px;

        }
        span{
          font-size: 22px;
        }
        ion-button{
          display:block;
        }
      }
    }
  }