<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="assets/mag.png">
    
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-card>
     <form>
      <ion-item class="ion-margin-vertical cash" lines="none">
        <ion-icon slot="start" name="help-circle-outline"></ion-icon>
        <ion-label>ESQUECI MINHA SENHA</ion-label>
      </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">ENVIAR</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
     
      <div style="padding: 25px;" class="forgot-password">
      
        Por favor forneça o nome de usuário ou endereço de e-mail cadastrado em sua conta Permangultura.
      </div>
  </ion-row>
  </form>
  </ion-card>
 
</ion-content>
